/* .card-img-top{width: 500px; height: 400px;} */
/* .card img:hover{color: blue;filter: brightness(100%);transform:scale(1.1);} */
.loading{display: flex; justify-content: center;align-items: center;}
.badge{ 
    left:90%!important; z-index: 1;}